<div class="row">
  <div class="col s10 offset-s1">
		<div class="card">
		  <h4 class="home">Contact</h4>
		  <div class="card-content">
				<div class="row">
					<form class="col s10">
					  <div class="row">
							<div class="input-field col s10 offset-s2">
							  <input id="first_name" type="text" class="validate">
							  <label for="first_name">Name</label>
							</div>
				  	</div>
						<div class="row">
							<div class="input-field col s10 offset-s2">
								<input id="email" type="email" class="validate">
								<label for="email">Email</label>
							</div>
					  </div>
					  <div class="row">
							<div class="input-field col s10 offset-s2">
			          <textarea id="textarea1" class="materialize-textarea"></textarea>
			          <label for="textarea1">Message</label>
			        </div>
					  </div>

					  <div class="row">
							<div class="input-field col s10 offset-s2" id="signupbtn">
							  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
								<i class="material-icons right">send</i>
							</button>
							</div>
						</div>
					</form>
				</div>
		  </div>
		</div>
  </div>
</div>
	  
