// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
	text-align: center;
	margin-top: 40px;
	padding-top: 15px;
}

.nav-wrapper {
	padding: 0 30px;
}

.card {
	max-height: 580px;
	max-width: 850px;
}

#signupbtn {
	text-align: center;
}